.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1px;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

body {
    background-color: #ADC4CC;
}

.headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;
}

img#logo {
        width: 175px;
        height: 150px;
        margin-bottom: -25px;
        margin-top: -25px;
}

.headerBottom {
    display:flex;
    flex-direction: row;
}

nav {
    width: 100%;
    margin: 0;
    text-align: center;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-table;
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    color: black;
}

hr {
    margin: 0px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.Insurances li, .Contacts li{
    display: flex;
    line-height: 125%;
}

.missonStatement {
    text-align: center;
}

.providers {
    justify-content: center;
    align-items: baseline;
}

.provider {
    display: flex;
    flex-direction: column;
    border: 1px solid #134D62;
    width: 33%;
    height: auto;
    margin: 10px;
    padding: 7.5px;
}

h5 {
    margin-bottom: 0px;
    margin-top: 20px;
}

.provider p {
    margin: 5px 0px;
}